
<style>
    table.specs{
        border:1px solid black;
        padding: 0.5em;
        background-color: #EDEDED;
        width:100%;
    }
    th,td{
        padding:0.5em;
        text-align: center;
        border: 1px solid #BFA300;
    }
    ul{
       list-style-type: none; 
    }
    tr td{
        background: #737373;
        color: #EDEDED;
    }
    tr th{
        background: #000000;
        color: #FFFFFF;
    }
</style>


<div class="col-md-1"></div>

<div class="col-md-2" style="background-color: #F2F2F2;">
    
    <h2>Vehicle statistics</h2>

    <h3>Movement</h3>
    <p>Engine Power: {{tank.engine_power}}hp</p>
    <p>Weight: {{tank.weight}}t</p>
    <p>Power/Weight Ratio: {{tank.engine_power / tank.weight | number:2}}hp/t</p>
    <p>Speed Limit: {{tank.speed_limit}}</p>
    <p>Turning Speed: {{tank.chassis_rotation_speed}} (deg/s)</p>
    <p>View Range: {{tank.circular_vision_radius}}m</p>
    <p>Radio Range: {{tank.radio_distance}}m</p>
    
    <h3>Armor</h3>
    <p>Front / Side / Rear</p>
    
    <p>Hull: {{tank.vehicle_armor_forehead}} / {{tank.vehicle_armor_board}} / {{tank.vehicle_armor_fedd}}mm</p>
    <p>Turret: {{tank.turret_armor_forehead}} / {{tank.turret_armor_board}} / {{tank.turret_armor_fedd}}mm</p>

</div>

<div class="col-md-8">
    
    <h1>{{tank.name_i18n}} <img ng-src="{{tank.contour_image}}"/></h1>
    <p><img ng-src="{{tank.image}}" style="float:left;"/>
        {{tank.nation_i18n}} <img ng-src="{{tank.nation_i18n | flag}}"/><br> <br> 
        Tier<img ng-src="{{tank.level | tier}}"/><br> <br> 
        {{tank.type_i18n}} <img ng-src="{{tank.type | type}}"/></p>
    
    <div style="clear:both;"></div>
    
    <h2>Components</h2>
    <h3>Turrets <img src="images/module/Module_wot_turret.png" alt=""/></h3>
    <ul ng-repeat="turret in turrets">
        
        <li>
            <table class="specs">
                <tr><th>Tier</th><th>Turret</th><th>Armor (mm)</th><th>View Range (m)</th><th>Rotation Speed (deg/s)</th><th>Cost (Credits)</th></tr>
                <tr>
                    <td width="5%"><img ng-src="{{turret[tank.turrets[$index].module_id].level | tier}}"/></td>
                    <td width="20%">{{turret[tank.turrets[$index].module_id].name_i18n}}</td>
                    <td width="15%">{{turret[tank.turrets[$index].module_id].armor_forehead}} / {{turret[tank.turrets[$index].module_id].armor_board}} / {{turret[tank.turrets[$index].module_id].armor_fedd}}</td>
                    <td width="20%">{{turret[tank.turrets[$index].module_id].circular_vision_radius}}</td>
                    <td width="25%">{{turret[tank.turrets[$index].module_id].rotation_speed}}</td>
                    <td width="15%">{{turret[tank.turrets[$index].module_id].price_credit | number}}</td>
                </tr>
            </table>
        </li>
    </ul>
    
    <h3>Guns <img src="images/module/Module_wot_gun.png" alt=""/></h3>
    <ul ng-repeat="gun in guns">
        <li>
            <table class="specs">
                <tr><th>Tier</th><th>Gun</th><th>Rate of Fire (Rounds/min)</th><th>Shell Penetration (mm) avg.</th><th>Shell Damage avg.</th><th>Cost (Credits)</th></tr>
                <tr>
                    <td width="5%"><img ng-src="{{gun[tank.guns[$index].module_id].level | tier}}"/></td>
                    <td width="20%">{{gun[tank.guns[$index].module_id].name_i18n}}</td>
                    <td width="15%">{{gun[tank.guns[$index].module_id].rate}}</td>
                    <td width="20%">{{gun[tank.guns[$index].module_id].piercing_power[0]}} / {{gun[tank.guns[$index].module_id].piercing_power[1]}} / {{gun[tank.guns[$index].module_id].piercing_power[2]}}</td>
                    <td width="25%">{{gun[tank.guns[$index].module_id].damage[0]}} / {{gun[tank.guns[$index].module_id].damage[1]}} / {{gun[tank.guns[$index].module_id].damage[2]}}</td>
                    <td width="15%">{{gun[tank.guns[$index].module_id].price_credit | number}}</td>
                </tr>
            </table>
        </li>
    </ul>
       
    <h3>Engines <img src="images/module/Module_wot_engine.png" alt=""/></h3>
    <ul ng-repeat="engine in engines">
        <li>
            <table class="specs">
                <tr><th>Tier</th><th>Engine</th><th>Power (hp)</th><th>Chance of Fire</th><th>Cost (Credits)</th></tr>
                <tr>
                    <td width="5%"><img ng-src="{{engine[tank.engines[$index].module_id].level | tier}}"/></td>
                    <td width="35%">{{engine[tank.engines[$index].module_id].name_i18n}}</td>
                    <td width="20%">{{engine[tank.engines[$index].module_id].power}}</td>
                    <td width="25%">{{engine[tank.engines[$index].module_id].fire_starting_chance}}%</td>
                    <td width="15%">{{engine[tank.engines[$index].module_id].price_credit | number}}</td>
                </tr>
            </table>
        </li>
    </ul>
    
    <h3>Suspension <img src="images/module/Module_wot_chassis.png" alt=""/></h3>
    <ul ng-repeat="chassi in chassis">
        <li>
            <table class="specs">
                <tr><th>Tier</th><th>Suspension</th><th>Load Limit (t)</th><th>Rotation Speed (deg/s)</th><th>Cost (Credits)</th></tr>
                <tr>
                    <td width="5%"><img ng-src="{{chassi[tank.chassis[$index].module_id].level | tier}}"/></td>
                    <td width="35%">{{chassi[tank.chassis[$index].module_id].name_i18n}}</td>
                    <td width="20%">{{chassi[tank.chassis[$index].module_id].max_load}}</td>
                    <td width="25%">{{chassi[tank.chassis[$index].module_id].rotation_speed}}</td>
                    <td width="15%">{{chassi[tank.chassis[$index].module_id].price_credit | number}}</td>
                </tr>
            </table>
        </li>
    </ul>
    
    <h3>Radios <img src="images/module/Module_wot_radio.png" alt=""/></h3>
    <ul ng-repeat="radio in radios">
        <li>
            <table class="specs">
                <tr><th>Tier</th><th>Radio</th><th>Signal Range (m)</th><th>Cost (Credits)</th></tr>
                <tr>
                    <td width="5%"><img ng-src="{{radio[tank.radios[$index].module_id].level | tier}}"/></td>
                    <td width="35%">{{radio[tank.radios[$index].module_id].name_i18n}}</td>
                    <td width="45%">{{radio[tank.radios[$index].module_id].distance}}</td>
                    <td width="15%">{{radio[tank.radios[$index].module_id].price_credit | number}}</td>
                </tr>
            </table>
        </li>
    </ul>
    
</div>

<div class="col-md-1"></div>
