
<style>
    table.specs{
        border:1px solid black;
        padding: 0.5em;
        background-color: #EDEDED;
        width:100%;
    }
    th,td{
        padding:0.5em;
        text-align: center;
        border: 1px solid black;
    }
    ul{
       list-style-type: none; 
    }
</style>


<div class="col-md-1"></div>

<div class="col-md-2" style="background-color: #F2F2F2;">
    <h2>Vehicle statistics</h2>
    
    <h3>Movement</h3>
    <p>Engine Power: {{tank.engine_power}}hp</p>
    <p>Weight: {{tank.weight}}t</p>
    <p>Power/Weight Ratio: {{tank.engine_power / tank.weight | number:2}}hp/t</p>
    <p>Speed Limit: {{tank.speed_limit}}</p>
    <p>Turning Speed: {{tank.chassis_rotation_speed}} (deg/s)</p>
    <p>View Range: {{tank.circular_vision_radius}}m</p>
    <p>Radio Range: {{tank.radio_distance}}m</p>
    
    <h3>Armor</h3>
    <p>Front / Side / Rear</p>
    
    <p>Hull: {{tank.vehicle_armor_forehead}} / {{tank.vehicle_armor_board}} / {{tank.vehicle_armor_fedd}}mm</p>
    <p>Turret: {{tank.turret_armor_forehead}} / {{tank.turret_armor_board}} / {{tank.turret_armor_fedd}}mm</p>

</div>

<div class="col-md-8">
    <h1>{{tank.name_i18n}} <img ng-src="{{tank.contour_image}}"/></h1>
    <p><img ng-src="{{tank.image}}"/></p>
    
    <h2>Components</h2>
    
    <h3>Turrets</h3>
    <ul ng-repeat="turret in turrets">
        <li>
            <table class="specs">
                <tr><th>Tier</th><th>Turret</th><th>Armor (mm)</th><th>View Range (m)</th><th>Rotation Speed (deg/s)</th><th>Cost (Credits)</th></tr>
                <tr>
                    <td width="5%">{{turret[tank.turrets[$index].module_id].level}}</td>
                    <td width="20%">{{turret[tank.turrets[$index].module_id].name_i18n}}</td>
                    <td width="15%">{{turret[tank.turrets[$index].module_id].armor_forehead}} / {{turret[tank.turrets[$index].module_id].armor_board}} / {{turret[tank.turrets[$index].module_id].armor_fedd}}</td>
                    <td width="20%">{{turret[tank.turrets[$index].module_id].circular_vision_radius}}</td>
                    <td width="25%">{{turret[tank.turrets[$index].module_id].rotation_speed}}</td>
                    <td width="15%">{{turret[tank.turrets[$index].module_id].price_credit | number}}</td>
                </tr>
            </table>
        </li>
    </ul>
</div>

<div class="col-md-1"></div>

<!--
Notes for armor

armor_fedd = rear;
armor_board = sides;
armor_forehead = front;

-->