
    <div class="col-md-2">
        Search by tank name: <br><input type="text" ng-model="search.name_i18n"><br>
        Filter by Nation: <br><select ng-model="nation.nation_i18n">
            <option value="">All</option>
            <option value="China">China</option>
            <option value="France">France</option>
            <option value="Germany">Germany</option>
            <option value="Japan">Japan</option>
            <option value="U.K.">U.K.</option>
            <option value="U.S.A.">U.S.A.</option>
            <option value="U.S.S.R.">U.S.S.R.</option>
        </select>


    </div>
    <div class="col-md-10">
       <ul>
            <li ng-repeat="tank in tanks | objFilter:search | objFilter:nation" class="tankList" >
                <h3><a href="#/tanks/{{tank.tank_id}}">{{tank.name_i18n}}</a></h3>
                <span style="float:left"><a href="#/tanks/{{tank.tank_id}}"><img ng-src="{{tank.image}}"/></a></span>
                <p>Short Name: {{tank.short_name_i18n}}</p>
                <p>Tier: {{tank.level}}</p>
                <p>Type: {{tank.type_i18n}}</p>


            </li>
        </ul>

    </div>
