
    <div class="col-md-2">
        Filter by tank name: <br><input type="text" ng-model="search.name_i18n"><br>
        <br>
        
        <h4>Type:</h4>
        
        <select ng-model="type.type_i18n">
            <option value="">All</option>
            <option value="Light Tank">Light Tank</option>
            <option value="Medium Tank">Medium Tank</option>
            <option value="Heavy Tank">Heavy Tank</option>
            <option value="Tank Destroyer">Tank Destroyer</option>
            <option value="SPG">Self Propelled Gun</option>
        </select>
        <br>
        
        <h4>Tier:</h4>
        
        <select ng-model="tier.tier">
            <option value="">All</option>
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
            <option value="seven">7</option>
            <option value="eight">8</option>
            <option value="nine">9</option>
            <option value="ten">10</option>
        </select>

    </div>
    <div class="col-md-10">
        
        <strong style="text-align: center;">
        <h4 style="text-align: center;">Filter by Nation:</h4>
        
        <select ng-model="nation.nation_i18n" class="image-picker show-html">
            <option data-img-src="images/flags/all.png" value="">All</option>
            <option data-img-src="images/flags/china.png" value="China">China</option>
            <option data-img-src="images/flags/france.png" value="France">France</option>
            <option data-img-src="images/flags/germany.png" value="Germany">Germany</option>
            <option data-img-src="images/flags/japan.png" value="Japan">Japan</option>
            <option data-img-src="images/flags/uk.png" value="U.K.">U.K.</option>
            <option data-img-src="images/flags/usa.png" value="U.S.A.">U.S.A.</option>
            <option data-img-src="images/flags/ussr.png" value="U.S.S.R.">U.S.S.R.</option>
        </select>
        </strong>
        <script>
            $("select").imagepicker({hide_select:false});
        </script>
        
       <ul class="tanks">
            <li ng-repeat="tank in tanks | objFilter:search | objFilter:nation | objFilter:type | objFilter:tier" class="tankList" >
                <h3><a href="#/tanks/{{tank.tank_id}}">{{tank.name_i18n}}</a></h3>
                <span style="float:left"><a href="#/tanks/{{tank.tank_id}}"><img ng-src="{{tank.image}}"/></a></span>
                <p>Short Name: {{tank.short_name_i18n}}</p>
                <p>Tier: {{tank.level}}</p>
                <p>Type: {{tank.type_i18n}}</p>


            </li>
        </ul>

    </div>
